h1{
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
}
body{
    background-color: #001524;
    color: whitesmoke;
}
form{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
#scores div{
    display: inline;
}
#scores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
    height: 50vh;
}
#result {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 20px;
}
#result div {
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    font-size: 40px;
    font-family: 'Black And White Picture', sans-serif;
}